<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidcomponents">

    <!-->Check the network connectivity</-->


    <!-->Foreground Service<!-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-->Boot complete receiver</!-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-->Content Provider<-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidComponents">
        <activity
            android:name=".activities.EmpDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-->Background Service<-->
        <service
            android:name=".services.BackgroundService"
            android:exported="true"/>
        <!-->Foreground Service<-->
        <service
            android:name=".services.ForegroundService"
            android:exported="true"/>
        <!-->Receive Boot Complete<-->
        <receiver
            android:name=".receiver.ReceiverBootComplete"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED">
                </action>
            </intent-filter>
        </receiver>
        <!-->Bounded Service<-->
        <service
            android:name=".services.BoundService"
            android:exported="true">
        </service>
        <!-->Network Connection Broadcast Receiver<-->
        <receiver
            android:name=".receiver.ReceiverPowerConnectivity"
            android:exported="true">
        </receiver>
    </application>

</manifest>